@import "../../variables";

.provider-chooser {
  display: flex;
  justify-content: center;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px;
    width: 120px;

    img {
      max-width: 100%;
    }
  }
}
